<!DOCTYPE html>
<html>
<head>
    <title>La physique pour les Jeunes</title>
<link rel="stylesheet" href="./style.css">
</head>
<body>


<h1>Social Network Project API</h1>
  <p><a href='./swagger-ui'>Go to the documentation of the API for Neo4j</a></p>
<p><a href='./swagger'>Go to the json specs of the API for Neo4j</a></p>

<p><a href='./swagger-mg-ui'>Go to the documentation of the API for MongoDB</a></p>
<p><a href='./swagger-mg'>Go to the json specs of the API for MongoDB</a></p>


</body>
</html>